<!-- Footer -->
<footer id="footer">
	<div class="container">
		<ul class="icons">
			<li><a href="https://www.quora.com/profile/Guoyang-QIN" class="icon fa-quora" aria-hidden="true"></a></li>
			<li><a href="https://www.linkedin.com/in/qinguoyang/" class="icon fa-linkedin"></a></li>
			<li><a href="https://github.com/getAbchin" class="icon fa-github"></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; saltylux</li>
			<li>Redesigned from <a href="https://templated.co/spatial">TEMPLATED</a></li>
		</ul>
	</div>
</footer>