<header id="header">
	<div class="container">
	<a href="index.html" title="home"><div class="logo"><img src="images/icons/saltylux.svg"></div></a>
	<nav id="nav">	
		<ul>
			<li><a href="blog.html">blog</a></li>
			<li><a href="me.html">work</a></li>
			<li><a href="me.html">source</a></li>
			<li><a href="me.html">me</a></li>
		</ul>
	</nav>
	</div>
</header>


<div id="mobile-header"><a href="index.html" title="home"><div class="logo"><img src="images/icons/saltylux.svg"></div></a></div>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>